.bookPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--primaryColor);
  padding-top: 0.5em;
  h1,
  p {
    color: var(--primaryFontColor);
  }
  .ant-collapse {
    background-color: var(--primaryColor);
    .ant-collapse-header {
      color: var(--primaryFontColor);
    }
    .ant-collapse-content {
      background-color: var(--primaryColor);
    }
  }
  button {
    background-color: var(--primaryBtnColor);
    border: 1px solid var(--aditionalBtnColor);
    color: var(--primaryFontColor);
    margin: 0.4em;
  }
  button:hover {
    background-color: var(--aditionalColor);
  }
}
