.likedBooks {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border: 1px solid var(--secondaryColor);
  background: var(--primaryColor);
  time {
    color: var(--primaryFontColor);
  }
  button {
    background-color: var(--primaryBtnColor);
    border: 1px solid var(--aditionalBtnColor);
    margin: 0.4em;
    span {
      color: var(--primaryFontColor);
    }
  }
  button:hover {
    background-color: var(--primaryColor);
  }
  h1 {
    color: var(--primaryFontColor);
  }
  p {
    user-select: none;
    color: var(--primaryFontColor);
  }
}
