.ant-drawer-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: max-content;
  background: var(--primaryColor);
  button {
    color: var(--primaryFontColor);
    background: var(--primaryBtnColor);
    border: 1px solid var(--aditionalBtnColor);
  }
  button:hover {
    background: var(--primaryBtnColor);
    color: var(--primaryFontColor);
  }
  .settingsBtn {
    margin-top: auto;
    width: max-content;
    background-color: var(--primarylColor);
    border: 1px solid var(--secondaryColor);
  }
}
